In [33]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error

In [19]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [20]:
concrete_data.shape

(1030, 9)

In [21]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [22]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [23]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [24]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [25]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [26]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [27]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [30]:
#buid the model
model = regression_model()

#fit the model
epochs = 50
model.fit(X_train, y_train, epochs = epochs, verbose = 1)

Train on 721 samples
Epoch 1/50
721/721 [==============================] - 1s 1ms/sample - loss: 1371.5919
Epoch 2/50
721/721 [==============================] - 0s 61us/sample - loss: 1000.9625
Epoch 3/50
721/721 [==============================] - 0s 64us/sample - loss: 751.6223
Epoch 4/50
721/721 [==============================] - 0s 59us/sample - loss: 584.6461
Epoch 5/50
721/721 [==============================] - 0s 75us/sample - loss: 484.0306
Epoch 6/50
721/721 [==============================] - 0s 59us/sample - loss: 391.9203
Epoch 7/50
721/721 [==============================] - 0s 62us/sample - loss: 333.8722
Epoch 8/50
721/721 [==============================] - 0s 68us/sample - loss: 287.7834
Epoch 9/50
721/721 [==============================] - 0s 62us/sample - loss: 245.1605
Epoch 10/50
721/721 [==============================] - 0s 66us/sample - loss: 214.6699
Epoch 11/50
721/721 [==============================] - 0s 60us/sample - loss: 194.0573
Epoch 12/50
721/721 [==============================] - 0s 61us/sample - loss: 176.9035
Epoch 13/50
721/721 [==============================] - 0s 68us/sample - loss: 165.7052
Epoch 14/50
721/721 [==============================] - 0s 62us/sample - loss: 152.6798
Epoch 15/50
721/721 [==============================] - 0s 58us/sample - loss: 144.7126
Epoch 16/50
721/721 [==============================] - 0s 60us/sample - loss: 139.6131
Epoch 17/50
721/721 [==============================] - 0s 69us/sample - loss: 132.4705
Epoch 18/50
721/721 [==============================] - 0s 66us/sample - loss: 127.6085
Epoch 19/50
721/721 [==============================] - 0s 65us/sample - loss: 124.8862
Epoch 20/50
721/721 [==============================] - 0s 69us/sample - loss: 121.7008
Epoch 21/50
721/721 [==============================] - 0s 64us/sample - loss: 122.3497
Epoch 22/50
721/721 [==============================] - 0s 63us/sample - loss: 118.0148
Epoch 23/50
721/721 [==============================] - 0s 58us/sample - loss: 117.9487
Epoch 24/50
721/721 [==============================] - 0s 59us/sample - loss: 116.5611
Epoch 25/50
721/721 [==============================] - 0s 55us/sample - loss: 116.3323
Epoch 26/50
721/721 [==============================] - 0s 59us/sample - loss: 115.4376
Epoch 27/50
721/721 [==============================] - 0s 61us/sample - loss: 118.3552
Epoch 28/50
721/721 [==============================] - 0s 55us/sample - loss: 114.0941
Epoch 29/50
721/721 [==============================] - 0s 62us/sample - loss: 112.7027
Epoch 30/50
721/721 [==============================] - 0s 59us/sample - loss: 113.4146
Epoch 31/50
721/721 [==============================] - 0s 58us/sample - loss: 113.5176
Epoch 32/50
721/721 [==============================] - 0s 65us/sample - loss: 112.6252
Epoch 33/50
721/721 [==============================] - 0s 68us/sample - loss: 113.6217
Epoch 34/50
721/721 [==============================] - 0s 66us/sample - loss: 112.9836
Epoch 35/50
721/721 [==============================] - 0s 70us/sample - loss: 114.4405
Epoch 36/50
721/721 [==============================] - 0s 65us/sample - loss: 112.1667
Epoch 37/50
721/721 [==============================] - 0s 62us/sample - loss: 113.4563
Epoch 38/50
721/721 [==============================] - 0s 59us/sample - loss: 112.3293
Epoch 39/50
721/721 [==============================] - 0s 61us/sample - loss: 114.4332
Epoch 40/50
721/721 [==============================] - 0s 72us/sample - loss: 111.1076
Epoch 41/50
721/721 [==============================] - 0s 65us/sample - loss: 112.0834
Epoch 42/50
721/721 [==============================] - 0s 75us/sample - loss: 110.9384
Epoch 43/50
721/721 [==============================] - 0s 63us/sample - loss: 110.2348
Epoch 44/50
721/721 [==============================] - 0s 68us/sample - loss: 110.9561
Epoch 45/50
721/721 [==============================] - 0s 67us/sample - loss: 112.5754
Epoch 46/50
721/721 [==============================] - 0s 92us/sample - loss: 109.7861
Epoch 47/50
721/721 [==============================] - 0s 76us/sample - loss: 109.9302
Epoch 48/50
721/721 [==============================] - 0s 87us/sample - loss: 114.7887
Epoch 49/50
721/721 [==============================] - 0s 72us/sample - loss: 110.1655
Epoch 50/50
721/721 [==============================] - 0s 86us/sample - loss: 112.2014

In [31]:
#Evaluate the model
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 337us/sample - loss: 119.3306

119.33055460414454

In [34]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

119.33055729379976 0.0

In [37]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 91.94155565280359
MSE 2: 104.26841735839844
MSE 3: 60.61211734759383
MSE 4: 61.81454635669498
MSE 5: 58.04017229296243
MSE 6: 61.38177290240538
MSE 7: 61.888120336440004
MSE 8: 45.66740195265094
MSE 9: 51.10460934438366
MSE 10: 53.05726519834648
MSE 11: 50.32144158866413
MSE 12: 44.22567076204664
MSE 13: 51.78499044029458
MSE 14: 50.83365465676515
MSE 15: 46.84210763085621
MSE 16: 40.543944756961565
MSE 17: 47.815250260930235
MSE 18: 44.330578689822104
MSE 19: 42.56499184914006
MSE 20: 45.83517498028703
MSE 21: 40.32853498736632
MSE 22: 43.76214356406993
MSE 23: 44.07158804094136
MSE 24: 42.62273605741729
MSE 25: 43.963469779992955
MSE 26: 46.4891023851907
MSE 27: 45.535284320127616
MSE 28: 41.255165100097656
MSE 29: 48.518173230118734
MSE 30: 43.174019112941906
MSE 31: 47.786335830935386
MSE 32: 36.737136729712624
MSE 33: 42.11612770549688
MSE 34: 40.013467807214234
MSE 35: 49.16595775024019
MSE 36: 47.55382267479758
MSE 37: 51.19041371268362
MSE 38: 46.96694403095924
MSE 39: 39.73507608950717
MSE 40: 41.23030523652012
MSE 41: 44.94671138899226
MSE 42: 38.48597981474546
MSE 43: 44.19886488436109
MSE 44: 47.89482208054428
MSE 45: 49.79438311382405
MSE 46: 41.90981581604596
MSE 47: 39.928092746672895
MSE 48: 44.071049785922646
MSE 49: 43.57247647652734
MSE 50: 45.32738052911357


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 48.74438327822223
Standard Deviation: 11.754412286573226